body {
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    background: linear-gradient(to bottom,
            #FEFAE0,
            #FAEDCD);
}

.container {
    max-width: 1200px;
    /* desktop width */
    margin: 0 auto;
    /* center on large screens */
    padding: 20px;
}

.hero {
    margin: 5px;
    background-image: url("./img/LakshmiVilas_Palace.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 30px 30px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertical center */
    align-items: center;
    /* horizontal center */
    gap: 10px;
}


h1 {
    display: inline-block;
    font-weight: 600;
    background-color: #FAEDCD;
    padding: 10px 20px;
    border-radius: 10px;
}

h2 {
    display: inline-block;
    font-weight: 600;
    background-color: #D4A373;
    padding: 7px 20px;
    border-radius: 10px;
}

#main {
    background-color: #CCD5AE;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}



.activities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.activities {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.activity-widget {
    height: 200px;
    width: 200px;
    margin: 15px 5px;
    border-radius: 200px;
    padding: 15px;
    background-size: cover;
}

.activity-card {
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 10px;
}

.activity-card:hover {
    background-color: #E9EDC9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.self-wrapper {
    display: flex;
    justify-content: center;
}


.self-card {
    margin: 50px auto;
    width: 500px;
    margin-top: 50px;
    background-color: #D4A373;
    display: flex;
    align-items: center;
    text-align: center;

    margin: 10px 5px;
    padding: 10px;
    border-radius: 20px;
}

#self-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.self-card .content {
    display: flex;
    flex-direction: column;
}